@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h3>This app is a practice for Razor application and AI prompting</h3>
    <h3>This app is a practice for Razor application and AI prompting</h3>
    <h3>This app is a practice for Razor application and AI prompting</h3>
    <h3>This app is a practice for Razor application and AI prompting</h3>
</p>
